exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(magrittr, "%>%")
import(lidR)
import(data.table)
import(dbscan)
import(RCSF)
importFrom(sf, "st_read")
import(foreach)
importFrom("stats", "aggregate", "median", "quantile")
importFrom(foreach, `%dopar%`, foreach)
export(csp_cost_segmentation)
useDynLib(CspStandSegmentation, .registration = TRUE)
importFrom("grDevices", "chull", "rainbow")
importFrom("stats", "predict", "sd")
importFrom("utils", "head", "setTxtProgressBar", "tail", "txtProgressBar")
