exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(magrittr, "%>%")
import(lidR)
import(data.table)
import(dbscan)
import(igraph)
import(foreach)
importFrom("stats", "aggregate", "median", "quantile")
export(csp_cost_segmentation)
useDynLib(CspStandSegmentation, .registration = TRUE)
